/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #222;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}
.logo img {
    padding-left: 15px;
}

.nav-links {
    display: flex;
    list-style: none;
    
}
.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    color: #f0a500;
}

/* Seccion principal */
main {
    padding: 15px;
}
main img{
    width: 400px;
    height: 300px;
}
#cultura {
    background-color: #333;  /* Color azul claro */
    border-radius: 8px;
    padding: 20px;
    color: white;
}
main div{
    display: flex;
    align-items: center;
    gap: 20px; 
    
}
#gastronomia {
    background-color: #333;  /* Color beige claro */
    padding: 20px;
    margin: 15px 0;
    border-radius: 8px;
    color: white;
}

#festivales {
    background-color: #333;  /* Color verde muy claro */
    padding: 20px;
    margin: 15px 0;
    border-radius: 8px;
    color: white;
}

/* Footer */
footer {
    background: #222;
    color: white;
    padding: 8px;
    display: flex;
    justify-content: space-between;

}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links img {
    display: flex;
    padding-right: 4px;
    width: 30px;
    height: 30px;
    
}